body{
    background-image: linear-gradient(to right, rgb(242, 110, 110), rgb(240, 194, 107), rgb(100, 230, 100), rgb(97, 97, 240), rgb(236, 109, 236));
    contain: fit;
    /* text-align: center; */
    margin: 0;
}

#container{
    font-size: 30px;
    text-align: center;
    border: 2px dashed rgb(174, 189, 189);
    padding: 0;
    width: fit-content 100%;
}


h1{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 64px;
    font-style: normal;
    text-decoration:underline;
    margin: 0 5px;
}
a img{
    height: 150px;
    width: 30%;
}
.my-info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
.hobbies{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
ul{
    list-style-position: inside;
}

ol{
    list-style-position: inside;
}

a{
    font-size: larger;
    text-align: center;
}
.links{
    display: flex;
    justify-content: space-between;
    margin: 5px 0 0 ;
}
.jobs{
    padding: 50px 0 0 100px;
}
.education{
    padding: 50px 100px 0 0;
}
.home{
    padding: 50px 0 0 100px;
}
.job{
    padding: 50px 100px 0 0;
}
:hover.links{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}
div img{
    border: 10px solid rgb(163, 182, 185);
    width: 20%;
    height: auto;    
}
h2{
    margin: 10px 5px;
}
p{
    margin: 5px;
}
/* mobile Responsiveness and flexbox/css grid */
@media(max-width: 320px){
    h1{
        font-size: 20px;
    }
    .links{
        display: flex;
        justify-content:space-around;
    }
    .jobs{
        margin-left: 40px;
    }
    .education{
        margin-right: 20px;
    }
    a img{
        height: 150px;
        width: 50%;
    }
    .my-info{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 19px;
        font-style: italic;
        font-weight: normal;
    }
    .hobbies{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 19px;
        font-style: italic;
        font-weight: normal;
    }
    
}
@media(max-width: 375px){
    #container{
        font-size: 25px;
        text-align: center;
        border: 3px dotted rgb(174, 189, 189);
        padding: 0;
        width: fit-content 100%;
    }
    h1{
        font-size: 20px;
    }
    .links{
        display: flex;
        justify-content:space-around;
    }
    .jobs{
        margin-left: 10px;
    }
    .education{
        margin-right: 20px;
    }
    a img{
        height: 150px;
        width: 50%;
    }
    .my-info{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 19px;
        font-style: italic;
        font-weight: normal;
    }
    .hobbies{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 19px;
        font-style: italic;
        font-weight: normal;
    }
    
}
@media(max-width: 425px){
    #container{
        font-size: 15px;
        text-align: center;
        border: 3px solid rgb(96, 198, 198);
        padding: 0;
        width: fit-content 100%;
    }
    h1{
        font-size: 20px;
    }
    .links{
        display: flex;
        justify-content:space-around;
    }
    .jobs{
        margin-left: 40px;
    }
    .education{
        margin-right: 20px;
    }
    a img{
        height: 150px;
        width: 50%;
    }
    .my-info{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 19px;
        font-style: italic;
        font-weight: normal;
    }
    .hobbies{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 19px;
        font-style: italic;
        font-weight: normal;
    }
    
}



